
@{
    ViewBag.Title = "FaceBook";
    ViewBag.SubTitle = "Video Grid";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section extjs
{
    <script src="~/Sencha/FaceBookVideoGrid_Main.js"></script>

}


@*<div class="push"></div>
    <div class="push"></div>*@
<div id="FaceBookVideoGridDiv"></div>

