@model LuckyMe.CMS.Web.Models.ProfileViewModel

@{
    ViewBag.Title = "UserProfile";
    ViewBag.SubTitle = "User Name";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

