@model LuckyMe.CMS.Web.Models.OverviewViewModel

@{
    ViewBag.Title = "Blob Storage";
    ViewBag.SubTitle = "User Name";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>*@




@*@section extjs
{
<script src="~/Sencha/Test.js"></script>

}


<div class="push"></div>
<div class="push"></div>*@

@*<div id="app-container"></div>*@