@model LuckyMe.CMS.Web.Models.AccountViewModel

@{
    ViewBag.Title = "DeleteAccount";
    ViewBag.SubTitle = "User Name";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteAccount", "Account", routeValues: null, method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
