
@{
    ViewBag.Title = "FacebookVideoViewer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section extjs
{

    <script src="~/Sencha/FacebookVideo_Main.js"></script>
}

<div id="app-container"></div>