
@{
    ViewBag.Title = "FacebookPhotoViewer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@section extjs
{

    <script src="~/Sencha/FacebookPhoto_Main.js"></script>
}

<div id="app-container"></div>
