<div class="push"></div>
<div class="navbar navbar-inverse navbar-fixed-bottom" id="footer">
    <div class="container">
        <p class="navbar-text pull-left">
            &copy; @DateTime.Now.Year - My ASP.NET Application
        </p>
        <p class="navbar-text pull-right">
            By Paul O'Beirne x10203800
        </p>
    </div>
</div>
