
@{
    ViewBag.Title = "BackupToBlobView";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



@section extjs
{

    <script src="~/Sencha/BackupToBlob_Main.js"></script>
}

<div id="app-container"></div>
