
@{
    ViewBag.Title = "BlobVideoViewer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@section extjs
{
    <script src="~/Sencha/BlobVideo_Main.js"></script>

}

<div id="app-container"></div>
