
@{
    ViewBag.Title = "BlobPhotoViewer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@section extjs
{
    <script src="~/Sencha/BlobPhoto_Main.js"></script>

}

<div id="app-container"></div>