@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section extjs
{

    <script src="~/Sencha/app/storage_main.js"></script>
}


<div class="push"></div>
<div class="push"></div>
<div id="blobcontainer"></div>